In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Denominador-1-modificado-4.csv')
df[ 'Dates' ] = pd.to_datetime(df['Dates'])
df.head()

,Dates,Revenue,Cost of revenue,Operating expenses,NOI,CAPEX,CWK,FCF
0,2009-12-31,1884.372544,874.898921,475.249997,757.519678,401.606865,5300.000000,1071.834493
1,2010-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-03-31,1884.955389,833.020996,504.512051,687.014582,401.245866,5254.775146,955.902279
4,2010-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df1 = df.set_index('Dates').resample('1m').mean()
#df.set_index(["Dates", "Revenue"], inplace = True,append = True, drop = False).resample('1m').mean()
#df.set_index(["Dates"], inplace = True).resample('1m').mean()
df1

,Revenue,Cost of revenue,Operating expenses,NOI,CAPEX,CWK,FCF
Dates,,,,,,,
2009-12-31,1884.372544,874.898921,475.249997,757.519678,401.606865,5300.000000,1071.834493
2010-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31,1884.955389,833.020996,504.512051,687.014582,401.245866,5254.775146,955.902279
2010-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2019-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-31,1111.642375,356.482970,431.490513,417.984787,109.037868,10155.210544,729.764211
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-31,1203.000589,393.915870,427.436735,437.596301,122.950074,10060.220511,753.612931

In [4]:
df1[df1['Revenue'].isna()]

            Revenue  Cost of revenue  Operating expenses  NOI  CAPEX  CWK  FCF
Dates
2010-01-31      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2010-02-28      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2010-04-30      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2010-05-31      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2010-07-31      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
...             ...              ...                 ...  ...    ...  ...  ...
2019-08-31      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2019-10-31      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2019-11-30      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2020-01-31      NaN              NaN                 NaN  NaN    NaN  NaN  NaN
2020-02-29      NaN              NaN                 NaN  NaN    NaN  NaN  NaN

[82 rows x 7 columns]

In [5]:
#df1['Revenue'].interpolate('linear').plot()
#pd.DataFrame(df['Revenue'], index=df['Date']).interpolate(method='time')

In [6]:
#df1['Cost of revenue'].interpolate('linear').plot()

In [7]:
#df1['OE'].interpolate('linear').plot()

In [8]:
#df1['NOI'].interpolate('linear').plot()

In [9]:
#df1['FCF'].interpolate('linear').plot()

In [10]:
df1['Revenue'] = df1['Revenue'].interpolate('linear')
df1['Cost of revenue'] = df1['Cost of revenue'].interpolate('linear')
df1['Operating expenses'] = df1['Operating expenses'].interpolate('linear')
df1['NOI'] = df1['NOI'].interpolate('linear')
df1['CAPEX'] = df1['CAPEX'].interpolate('linear')
df1['CWK'] = df1['CAPEX'].interpolate('linear')
df1['FCF'] = df1['FCF'].interpolate('linear')

In [11]:
df1.info

<bound method DataFrame.info of                 Revenue  Cost of revenue  Operating expenses         NOI  \
Dates
2009-12-31  1884.372544       874.898921          475.249997  757.519678
2010-01-31  1884.566826       860.939613          485.004015  734.017979
2010-02-28  1884.761107       846.980305          494.758033  710.516281
2010-03-31  1884.955389       833.020996          504.512051  687.014582
2010-04-30  1880.767673       833.871453          481.542613  511.922217
...                 ...              ...                 ...         ...
2019-11-30  1146.881815       364.643034          436.290714  460.509240
2019-12-31  1111.642375       356.482970          431.490513  417.984787
2020-01-31  1142.095113       368.960603          430.139254  424.521959
2020-02-29  1172.547851       381.438237          428.787994  431.059130
2020-03-31  1203.000589       393.915870          427.436735  437.596301

                 CAPEX         CWK          FCF
Dates
2009-12-31  401.606865  401.606865  1071.834493
2010-01-31  401.486532  401.486532  1033.190422
2010-02-28  401.366199  401.366199   994.546350
2010-03-31  401.245866  401.245866   955.902279
2010-04-30  401.861529  401.861529   928.473553
...                ...         ...          ...
2019-11-30  105.943600  105.943600   733.164793
2019-12-31  109.037868  109.037868   729.764211
2020-01-31  113.675270  113.675270   737.713784
2020-02-29  118.312672  118.312672   745.663358
2020-03-31  122.950074  122.950074   753.612931

[124 rows x 7 columns]>

In [12]:
df1.to_csv("InterpolatedWithCAPEX.csv")

In [13]:
den = pd.read_csv("InterpolatedWithCAPEX.csv")

In [14]:
den.info

<bound method DataFrame.info of           Dates      Revenue  Cost of revenue  Operating expenses         NOI  \
0    2009-12-31  1884.372544       874.898921          475.249997  757.519678
1    2010-01-31  1884.566826       860.939613          485.004015  734.017979
2    2010-02-28  1884.761107       846.980305          494.758033  710.516281
3    2010-03-31  1884.955389       833.020996          504.512051  687.014582
4    2010-04-30  1880.767673       833.871453          481.542613  511.922217
..          ...          ...              ...                 ...         ...
119  2019-11-30  1146.881815       364.643034          436.290714  460.509240
120  2019-12-31  1111.642375       356.482970          431.490513  417.984787
121  2020-01-31  1142.095113       368.960603          430.139254  424.521959
122  2020-02-29  1172.547851       381.438237          428.787994  431.059130
123  2020-03-31  1203.000589       393.915870          427.436735  437.596301

          CAPEX         CWK          FCF
0    401.606865  401.606865  1071.834493
1    401.486532  401.486532  1033.190422
2    401.366199  401.366199   994.546350
3    401.245866  401.245866   955.902279
4    401.861529  401.861529   928.473553
..          ...         ...          ...
119  105.943600  105.943600   733.164793
120  109.037868  109.037868   729.764211
121  113.675270  113.675270   737.713784
122  118.312672  118.312672   745.663358
123  122.950074  122.950074   753.612931

[124 rows x 8 columns]>